{% extends 'base.html' %}
  {% block title %}
    About
{% endblock %}
  {% block body %}
    <h2>About Page</h2>
    <p>Coursework 1 for Advanced Web Programming (Set09103)</p>
    <p>Zak Rodger 40415721</p>
{% endblock %}
