{% extends 'base.html' %}
{% block title %}
  {{ guitarist }}
{% endblock %}
{% block body %}

{% if name %}
<h2>Guitars Player by {{ name }}!</h2>
{% else %}
<h2>Please enter a guitarists name!</h2>
{% endif %}

<p id="demo"></p>

<script>
var search_name = "{{ name }}".toLowerCase();
var guitars, i, j, x = "";
guitars = ({{data|tojson}});

  for (i in guitars.guitars) {
      for (j in guitars.guitars[i].players) {
        if(guitars.guitars[i].players[j] == search_name)
          x += guitars.guitars[i].model + "<br>";
      }
  }

document.getElementById("demo").innerHTML = x;


</script>



{% endblock %}
<!--<script type="text/javascript" src="/static/json/data.json"></script>
