{% extends 'base.html' %}
 {% block body %}


 <link rel="stylesheet" type="text/css" href="/static/css/index.css">



  <div class="card" >
  <a  href="/electric/" title="Electric">
   <img src="/static/images/fender/stratocaster.jpg" alt="electric" width="500" height="300">
  </a>
  <h3><b>Electric</b></h3>
    </div>
  </div>

  <div class="card" >
  <a  href="/acoustic/" title="Acoustic">
   <img src="/static/images/martin/d28side.jpg" alt="acoustic" width="500" height="300">
  </a>
  <h3><b>Acoustic</b></h3>
    </div>
  </div>

  <div class="card" >
  <a  href="/add/" title="Add">
   <img src="/static/images/addbutton.png" alt="add guitar" width="500" height="300"></a>
   <div class="container">
     <h3><b>Add Guitar</b></h3>
    </div>
   </div>



{% endblock %}
