{% extends 'base.html' %}
{% block title %}
Gibson
{% endblock %}
{% block body %}
<h2>Gibson</h2>
<link rel="stylesheet" type="text/css" href="/static/css/index.css">


        <div class="card">
          <a  href="/electric/gibson/les_paul" title="les_paul">
          <img src="/static/images/gibson/lespaulside.jpeg" alt="les paul" width="500" height="300">
          <div class="container">
            <h3><b>Les Paul</b></h3>
          </div>
        </div>

          <div class="card">
            <a  href="/electric/gibson/sg" title="sg">
            <img src="/static/images/gibson/sgside.jpg" alt="sg" width="500" height="300">
            <div class="container">
              <h3><b>SG</b></h3>
            </div>
          </div>

        <div class="card">
          <a  href="/electric/gibson/es_335" title="es_335">
          <img src="/static/images/gibson/es335side.png" alt="es 335" width="500" height="300"></a>
          <div class="container">
            <h3><b>ES 335</b></h3>
          </div>
        </div>

{% endblock %}
