
  .card {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      max-width: 40%;
      margin: auto;
      text-align: center;
      font-family: arial;
  }

  .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  img {
      border-radius: 5px 5px 0 0;
      max-width: 60%;
      max-height: 30%;
  }


  .container {
      padding: 2px 16px;
  }
