{% extends 'base.html' %}
{% block title %}

{% endblock %}
{% block body %}
<h2>Fender</h2>
<link rel="stylesheet" type="text/css" href="/static/css/index.css">


        <div class="card">
          <a  href="/electric/fender/stratocaster" title="stratocaster">
          <img src="/static/images/fender/stratocasterside.jpg" alt="strat" width="650" height="200">
          <div class="container">
            <h3><b>Stratocaster</b></h3>

          </div>
          </div>

          <div class="card">
            <a  href="/electric/fender/telecaster" title="telecaster">
            <img src="/static/images/fender/telecasterside.jpg" alt="tele" width="650" height="200">
            <div class="container">
              <h3><b>Telecaster</b></h3>

            </div>
            </div>

        <div class="card">
          <a  href="/electric/fender/jaguar" title="jaguar">
          <img src="/static/images/fender/jaguarside.jpg" alt="jaguar" width="650" height="200"></a>
          <div class="container">
            <h3><b>Jaguar</b></h3>
          </div>
        </div>

{% endblock %}
