{% extends 'base.html' %}
{% block title %}
Rickenbacker
{% endblock %}
{% block body %}
<h2>Rickenbacker</h2>
<link rel="stylesheet" type="text/css" href="/static/css/index.css">


        <div class="card">
          <a  href="/electric/rickenbacker/360_12" title="360_12">
          <img src="/static/images/rickenbacker/360-12side.jpg" alt="360/12" width="500" height="300">
          <div class="container">
            <h3><b>360/12</b></h3>
          </div>
        </div>

          <div class="card">
            <a  href="/electric/rickenbacker/330" title="330">
            <img src="/static/images/rickenbacker/330side.jpg" alt="330" width="500" height="300"></a>
            <div class="container">
              <h3><b>330</b></h3>
            </div>
          </div>


{% endblock %}
