{% extends 'base.html' %}
{% block title %}
{% endblock %}

{% block body%}
<link rel="stylesheet" type="text/css" href="/static/css/index.css">

 <h2>Electrics</h2>



 <div class="card">
   <a  href="/electric/fender/" title="fender">
   <img src="/static/images/fender/fenderlogo.png" alt="fender" width="500" height="300">
   <div class="container">
     <h3><b>Fender</b></h3>

   </div>
   </div>

   <div class="card">
     <a  href="/electric/gibson/" title="fender">
     <img src="/static/images/gibson/gibsonlogo.png" alt="gibson" width="500" height="300">
     <div class="container">
       <h3><b>Gibson</b></h3>

     </div>
     </div>

 <div class="card">
   <a  href="/electric/rickenbacker/" title="fender">
   <img src="/static/images/rickenbacker/rickenbackerlogo.png" alt="rickenbacker" width="500" height="300">
   <div class="container">
     <h3><b>Rickenbacker</b></h3>
   </div>
 </div>
{% endblock %}
